#titulo-h2 {
    color: darkorange;
}

.fundo-amarelo{
    background-color: yellow;
}

.texto-vermelo{
    color:red
}

h2 {
    color: darkviolet;
}

p{
    color: slateblue;
}

h2 {
    color: brown;
}

/* cascata */